*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cyan: hsl(179, 62%, 43%);
    --yellow: hsl(71, 73%, 54%);
    --gray: hsl(204, 43%, 93%);
    --blue: hsl(218, 22%, 67%);
}
body{
    font-family: 'Karla', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.grid{
    margin: 3em 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(15rem, auto);
    border-radius: 10px;
    box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.12);
}
.join, .us, .sub{
    padding: 2em 1em;
}
.join{
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    color: var(--blue);
}
.join h1{
    color: var(--cyan);
    margin-bottom: 1em;
}
.join p.yellow{
    color: var(--yellow);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1em;
}
.sub{
    background-color: #2BB3B1;
    color: #fff;
}
.sub h1{
    margin-bottom: 1em;
}
.sub span{
    font-size: 2rem;
    font-weight: bold;
}
.sub small{
    color: var(--gray);
}
.sub p:nth-child(3){
    margin: 1em 0 2em;
}
.sub button{
    width: 100%;
    background-color: var(--yellow);
    border: none;
    padding: 1.3em;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 3px 81px 15px rgba(0,0,0,0.12);
    border-radius: 5px;
}
.us{
    background-color: #4ABEBD;
    border-radius: 0px 0px 10px 10px;
    color: white;
}
.us h1{
    margin-bottom: 1em;
}
.us p{
    color: var(--gray);
}
.wrapper{
    width: 90%;
    margin: auto;
}

@media (min-width: 920px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
    .join{
        grid-column: 1/3;
    }
    .us{
        background-color: #4ABEBD;
        border-radius: 0px 0px 10px 0px;
        grid-column: 2/3;
    }
    .sub{
        background-color: #2BB3B1;
        grid-column: 1/2;
        border-radius: 0px 0px 0px 10px;
    }
}